<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', path='plotly-latest.min.js') }}"></script>
    <title>{{ host }}::{{ name }}</title>
    <style>
      a { text-decoration: none; }
    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
    <h2>
      <a href="{{ request.url_for("ui_hosts") }}">{{ host }}::{{ name }}</a>
      <small class="text-muted">{{ summary["current"] }}</small>
    </h2>
    <div id="chart-container" style="width: 800px; height: 400px;"></div>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Min</th>
          <th scope="col">Max</th>
          <th scope="col">Avg</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Hour</th>
          <td>{{ summary["hour"]["min"] }}</td>
          <td>{{ summary["day"]["min"] }}</td>
          <td>{{ summary["week"]["min"] }}</td>
        </tr>
        <tr>
          <th scope="row">Day</th>
          <td>{{ summary["hour"]["max"] }}</td>
          <td>{{ summary["day"]["max"] }}</td>
          <td>{{ summary["week"]["max"] }}</td>
        </tr>
        <tr>
          <th scope="row">Week</th>
          <td>{{ summary["hour"]["avg"] }}</td>
          <td>{{ summary["day"]["avg"] }}</td>
          <td>{{ summary["week"]["avg"] }}</td>
        </tr>
      </tbody>
    </table> 
    <script>
        async function renderChart(data_url) {
	        try {
                const response = await fetch(data_url);
                const { data, layout } = await response.json();
                const container = document.getElementById('chart-container');
		const config = { displayModeBar: false };
                Plotly.newPlot(container, data, layout, config);
            }
            catch (error) {
                console.error('Error fetching chart data: ', error);
            }
        }

        renderChart('{{ request.url_for("api_chart", host=host, name=name) }}');
    </script>
    </div>
  </body>
</html>
