<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', path='plotly-latest.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='bootstrap.min.css') }}">
    <style>
      a { text-decoration: none; }
    </style>
    <title>{{ host }}::{{ metric }}</title>
  </head>
  <body>
    <div class="container" style="width: 800px; height: 400px;">
      <h2>
        <a href="{{ request.url_for("ui_hosts") }}">{{ host }}::{{ metric }}</a>
	    <span class="label label-success pull-right">current: {{ summary["current"] }}</span>
      </h2>
      <div id="chart-container"></div>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Min</th>
            <th scope="col">Max</th>
            <th scope="col">Avg</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Hour</th>
            <td>{{ summary["hour"]["min"] }}</td>
            <td>{{ summary["hour"]["max"] }}</td>
            <td>{{ summary["hour"]["avg"] }}</td>
          </tr>
          <tr>
            <th scope="row">Day</th>
            <td>{{ summary["day"]["min"] }}</td>
            <td>{{ summary["day"]["max"] }}</td>
            <td>{{ summary["day"]["avg"] }}</td>
          </tr>
          <tr>
            <th scope="row">Week</th>
            <td>{{ summary["week"]["min"] }}</td>
            <td>{{ summary["week"]["max"] }}</td>
            <td>{{ summary["week"]["avg"] }}</td>
          </tr>
        </tbody>
      </table> 
    </div>
    <script>
      async function renderChart(data_url) {
        try {
          const response = await fetch(data_url);
          const { data, layout } = await response.json();
          const container = document.getElementById('chart-container');
          const config = { displayModeBar: false };
          Plotly.newPlot(container, data, layout, config);
        }
        catch (error) {
          console.error('Error fetching chart data: ', error);
        }
      }

      renderChart('{{ request.url_for("api_chart", host_name=host, metric_name=metric) }}');
    </script>
  </body>
</html>
