<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='bootstrap.min.css') }}">
    <style>
      a { text-decoration: none; }
    </style>
    <title>Metrics</title>
  </head>
  <body>
    <div class="container">
      {% for host, metrics in host_metrics.items() %}
      <h2>{{ host }}</h2>
      <h3>
        {% for metric in metrics %}
          <li><a href="{{ request.url_for("ui_chart", host_name=host, metric_name=metric) }}">{{ metric }}</a></li>
        {% endfor %}
      </h3>
      {% endfor %}
    </div>
  </body>
</html>
